body {
    background-color: #171717;
    color: #F7FAED;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

div {
    clear: both;
}
pre {
    font-size: 12px;
    font-style: normal;
    
    font-family: 'Courier New', Courier, monospace;
}
a, a:visited, a:active {
    color: #FCE5AC;
    text-decoration: none;
    font-weight: bold;
}

.hide { 
    display: none;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.console {
    margin: 0;
    margin-bottom: 16px;
    font-family: monospace;
    line-height: 1.0;
    background: black;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}

.green {
    background-color: #34D399;
  }
  .green-text {
    color: #34D399;
  }
  .yellow-text {
      color: #dbca45;
      font-weight: bold;
  }
  .red-bg {
      background-color: #FF2266;
  }
  .red-text {
      color: #FF2266;
  }
  .light-bg {
      background-color: #F7FAED;
  }
  .light-text {
      color: #F7FAED;
  }
  .blue-bg {
      background-color: #00AAFF;
  }
  .blue-text {
      color: #00AAFF;
  }
  .dark-bg {
      background-color: #171717;
  }
  .dark-text {
      color: #171717;
  }
