{{ define "window" }}
{{ .Window }}
{{ end }}
<div class="window">
    <div class="row">
        <div class="column left">
            <span class="dot" style="background:#ED594A;"></span>
            <span class="dot" style="background:#FDD800;"></span>
            <span class="dot" style="background:#5AC05A;"></span>
        </div>
        <h3 class="right">about me</h3>
    </div>
    <div class="content">
        <p>
            Linux and FOSS enthusiast
            long time PHP & Laravel background (+5years) 
            with docker and [laradock](https://laradock.io/)
            worked with serveral startups remotely doing 
            full stack work with web servers like nginx on linux 
            from the ground up, also domain and dns configuration 
            coming from working with a monolithic framework like 
            angular2 i came to like simpicity especially in web apps
            built with javascript, for example a company web site 
            doesnt need an 10,000+ package overhead that is angular2 
            and react in some cases, 
        </p>
    </div>
    <br>
</div>